{% extends 'main.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
{% block content %}
    <style>
        .home-container {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
        }
    </style>
    <body>
    <div class="home-container">
        <div>
           {% include 'base/topics_components.html' %}
        </div>

        <div>
            <h3>{{ room_count }} Room(s) available</h3>
            <a href="{% url 'create-room' %}">Create A Room!</a>
            <hr>
            <div>
                {% include 'base/feed_component.html' %}
            </div>
        </div>
        <div>
            {% include 'base/activity_component.html' %}
        </div>
    </div>

    </body>
{% endblock content %}
</html>